#menu-wrap {
    position: fixed;
    width: 100%;
    z-index: 20000;
    margin: 0 auto;
    top: 0;
    left: 0;
}


.background-black {
    background-color: #000000;
}

.menu-top{
	width: 100%;
	margin: 0 auto;
	position: relative;
	top:0;
	padding-bottom: 2px;
	z-index: 4;
	transition: top 0.4s ease-out;
}

.menu-top.change{
    top: -60.4px;
} 

.call-top{
	font-family: Roboto, sans-serif;
	color: #FFF;
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    transition: all 250ms linear;
}

.menu-top a:hover{
	color: #ED254E;
	text-decoration: none;
}

.menu{
	display: flex;
	color: #FFF;
	width: 100%;
  	position: fixed; 
  	top: 60px; 
  	left: 0; 
  	z-index: 100000000;
 	box-sizing: border-box;
  	transition: all .4s ease-out;
  	padding-top: 2px;
 }

.menu.change{
	background-color: rgba(0,0,0,.9);
	height: 75px;
	top:0;
}

.menu ul{
	list-style: none;
	display: flex;
	padding: 0;
	height: 80px;	
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 13%;
}

.menu a{
	font-family: roboto, sans-serif;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 25px;
	user-select: none;
	font-weight: 500;
}

.menu a:hover{
	text-decoration: none;
	color: #ED254E;
}

.menu a:focus{
	color: #ED254E;
}


.menu .btn, .btn a{
	background-color: #ED254E;
	color: #FFF;
	border: none;
	padding: 0;
	width: 100px;
	height: 35px;
	box-sizing: border-box;	
	outline: none;
	text-decoration: none;
	border-radius: 3px;
}

.btn a:hover{
	color: #FFF;
	background-color:#333;
	transition: 0.3s;
	text-decoration: none;
}


